<div class="welcome">
  <h1>Welcome to Camren's To Do List!</h1>
</div>
<% @todo_lists.each do |todo_list| %>
<div class="index_row clearfix">
  <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
  <p class="todo_list_sub_title"><%= todo_list.description %></p>
  <!-- <div class="trash">
   <%# <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %> %>
   <%# <%= link_to 'Delete', todo_list_path(@todo_list, todo_list.id), method: :delete, data: { confirm: "Are you sure?" } do %> | %>
    <i class="fa fa-trash"></i>
   <%# <% end %> %>
  </div> -->
</div>
<% end %>
<div class="links">
  <%= link_to "New To do List", new_todo_list_path %>
</div>
